.product-tabs-container {
    width: 100%;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border: 1px solid fff;
    box-shadow: 0 12px 12px 0 rgba(181, 181, 181, .1);
  }
  
  .tabs-header {
    display: flex;
    background-color: #f8f8f8;    
    height: 60px;
    border-bottom: 1px solid #dfdfdf;
  }

  .tabs-headerbtn
  {
    border-right: 1px solid #dfdfdf;
  }

  .tabs-headerbtn.active {
    border-top: 3px solid #471871;
    font-weight: bold;
    color: #471871;
    box-shadow: 0 2px 0 white;
    background-color: white;
  }
  
  .tab-item {    
    flex: 1;
    padding: 18px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: #333;
  }

  
  .tab-item-review
  {
    position: relative;
    width: 240px;
  }
  .tab-item-question
  {
    position: relative;
    width: 280px;  
  }
  
  .tab-item-review::before
  {
    font-family: iconfont; 
    position: absolute;
    content: "\e031";    
    font-size: 21px;
    left: 25px;
    bottom: 8px;
  }

  .tab-item-question::before
  {
    font-family: iconfont; 
    position: absolute;
    content: "\e043";
    font-size: 21px;
    left: 25px;
    bottom: 8px;
  }
  
  
  .tab-content {
    padding: 20px;
    background-color: #fff;
  }
  