@media (max-width: 768px)
{
    .c-discount_banner
    {
        flex-wrap: wrap;
        padding-top: 20px;
    }
    .c-discount_banner-item
    {
        margin: 0;
        padding: 0;
        width: 100%;   
        padding-bottom: 20px;     
    }
    .c-discount_banner-item:not(:last-of-type)
    {
        margin-right: 0;
    }

}